table{
    border: 100px groove #5C4033; 
    margin: 100px auto;
}

td{
    height: 50px;
    width: 50px;
}

#white{
    background: white;
}

#black{
    background-color: black;
}

.ravi{
    background-repeat: no-repeat;
    background-position-x: fixeds;
    overflow-y: auto;
    padding: fixed;
}

form input .equal{
    width: 145px;
}